@media only screen and (min-width: 60rem) {
    div.theParent a {
        flex-basis: 33.33%;
        padding: 1rem 2vw;
    
    
    }
    section#projects figcaption {
        background-color: antiquewhite;
        padding: 20px;
        

    }
    footer p, footer span {
        font-size: 30px;
        color: #ebebeb;
        text-align: center;
        padding: 10px;
        background-color: #7CA6A6;
} /* end media query*/