@media only screen and (min-width: 35rem) {

    
    section#about h1 {
        font-size: 4rem;
    }
    section#about h2 {
        font-size: 2.5rem;
        color:  #BF8D7A;
    
    }
    div.theParent a {
        flex-basis: 50%;
        padding: 1rem 2vw;
    
    
    }
    footer p, footer span {
        font-size: 20px;
        color: #ebebeb;
        text-align: center;
        padding: 10px;
        background-color: #7CA6A6;
    
} /* end media query*/